@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --dark-yellow: hsl(47, 88%, 63%);
  --grey-500: hsl(0, 0%, 42%);
  --grey-900: hsl(0, 0%, 7%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--dark-yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: min(60vw, 325px);
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 1.25rem;
  border: 1px solid var(--grey-900);
  box-shadow: 0.75rem 0.75rem;
}
.card__image-wrapper {
  border-radius: 0.75rem;
  object-fit: contain;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
.card__image {
  max-width: 100%;
  height: auto;
}

.card__details-wrapper {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.card__tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}
.card__tag {
  background-color: var(--dark-yellow);
  padding: 0.5rem 1rem;
  font-weight: 800;
  border-radius: 0.25rem;
}
.card__published-information {
  font-weight: 600;
}
.card__heading {
  color: var(--grey-900);
  font-weight: 850;
  font-size: 1.625rem;
}

.card__information {
  color: var(--grey-500);
  font-weight: 450;
  font-size: 1.25rem;
}

.card__owner-info-wrapper {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.card_owner-image {
  max-width: 3rem;
}
.card__owner-name {
  font-weight: 900;
  font-size: 1.125rem;
}
.attribution__wrapper {
  text-align: center;
  position: relative;
  top: 5rem;
}
.attribution {
  font-size: 13px;
}
.attribution a {
  color: var(--grey-500);
}
.attribution a:hover {
  color: var(--grey-900);
}
